
.wrapper{
    height: calc(100vh - 88px);
    display: flex;
    justify-content: center;
}

.content{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    //gap: 10px;
}

.welcomeImg{
    flex-basis: 50%;
    img{
        max-width: 100%;
    }
}


.Htext{
    font-size: 48px;
    color: #010101;
    font-weight: bold;
    padding-bottom: 50px;
    text-align: start;
}

@media screen and (max-width: 925px) {
    .welcomeImg{
        display: none;
    }

    .wrapper{
        height: calc(100vh - 88px);
    }
    
    .content{
        display: flex;
        justify-content: center;
        width: 100%;
    }

    
}

@media screen and (max-width: 500px){
    .welcomeImg{
        display: none;
    }

    .wrapper{
        height: 100%;
    }
    
    .content{
        width: 100%;
        padding: 0px 15px;
    }

}







