.wrapper {
  padding-top: 152px;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1080px;
}

.mainHeader {
  width: 100%;
  max-height: 120px;
  img {
    max-width: 100%;
  }
}
