.wrapper {
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.wrapper::-webkit-scrollbar {
  background-color: black;
  border-radius: 5px;
  height: 8px;
  width: 100%;
}

.wrapper::-webkit-scrollbar:hover {
  background: linear-gradient(#5156e6 55%, #74edf2);
}

.item {
  margin-right: 25px;
}

@media screen and (max-width: 700px) {
  .item {
    img {
      width: 54px;
    }
  }
}
