//Func Components
.btnLogOut{
    width: 100%;
    background: none;
    border: none;
    font-size: 12px;
    color: #FB766E;
    border: 1px solid #FB766E;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .2s ease-in-out;
    &:hover{
        background-color: #FB766E;
        color: white;
    }
}
//Content
.header{
    width: 100vw;
    background-color: #fff;
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 44px 0 64px;
    height: 88px;
    box-shadow:  0 10px 10px -8px #E5E5E5 ;
}
.language{
    cursor: pointer;
}

.dropdown{
    flex-basis: 50%;
    position: relative;
    text-align: center;
}

.right__content{
    display:  flex;
    align-items: center;
}

.status__content{
    width: 100%;
    max-width: 100px;
    right: 0;
    //position: relative;
    text-align: center;
    .miniava{
        cursor: pointer;
        img:hover{
            border-radius: 50px;
            transition: 0.6s ease-in-out;
        }
    }
}

.status__dropdown{
    top: 88px;
    right: 0;
    position: absolute;
    background-color: #fff;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    p{
        padding-bottom: 20px;
    }
}


.dropwownbtn{
    cursor: pointer;
}

.dropdowncontent{
    position: absolute;
    background-color: #fff;
    font-weight: bold;
    margin-left: -14px;
    border-radius: 10px;
}

.dropdownitem{
    width: 100%;
    padding: 5px;
    cursor: pointer;
    transition: .2s linear;
    border: none;
    background: none;
    border-radius: 10px;
}

.dropdownitem:hover{
   color: #fff;
   background-color: black;
}


@media screen and (max-width: 500px){
    .content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 20px;
        margin-right: 0px;
        height: 88px;
    }
}