.wrapper {
  padding-top: 152px;
  margin: 0 15px;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 1084px;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  overflow: hidden;
  .leftSide {
    display: flex;
    max-width: 100%;
    flex-basis: 60%;

    .description {
      margin-left: 30px;
      max-width: 648px;
      .headerDescription {
        margin-bottom: 15px;
        h4 {
          font-size: 24px;
          font-weight: 700;
        }
        p {
          margin-top: 3px;
          font-size: 16px;
          font-weight: 500;
        }
      }

      .lifeDescription {
        font-size: 12px;
        opacity: 0.8;
      }
    }
  }

  .rightSide {
    flex-basis: 40%;
    max-width: 100%;

    .mediasubscriptions {
      display: flex;
      text-align: center;
      justify-content: end;

      b {
        font-size: 20px;
      }
      P {
        opacity: 0.8;
        font-size: 16px;
      }

      .followersBlock {
        margin-right: 80px;
      }
    }

    .navigation {
      display: flex;
      justify-content: end;
      .editProf {
        background-color: #fff;
        margin-right: 30px;
        border-radius: 12px;
        color: #333;
        border: none;
        padding: 9px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        transition: 0.2s ease-in-out;
      }

      .editProf:hover {
        color: #fff;
        background-color: #333;
      }

      .NewPost {
        border: none;
        background-color: #0087ff;
        color: #fff;
        border-radius: 12px;
        padding: 9px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
        margin-left: 12px;
        transition: 0.2s ease-in-out;
      }

      .NewPost:hover {
        background-color: #fff;
        color: #0087ff;
      }
    }
  }
}

.photosCollageContent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;

  .photoItem {
    margin-right: 3px;
    margin-bottom: 3px;
    img {
      height: 100%;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1135px) {
  .mainHeader {
    .leftSide {
      .description {
        margin-left: 20px;
        .headerDescription {
          h4 {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .lifeDescription {
          font-size: 12px;
          opacity: 0.8;
        }
      }
    }

    .rightSide {
      .mediasubscriptions {
        b {
          font-size: 18px;
        }
        P {
          opacity: 0.8;
          font-size: 14px;
        }

        .followersBlock {
          margin-right: 70px;
        }
      }

      .navigation {
        .editProf {
          background-color: #fff;
          margin-right: 20px;
          border-radius: 12px;
          color: #333;
          border: none;
          padding: 9px;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
  .photosCollageContent {
    .photoItem {
      width: 33%;
    }
  }
}

@media screen and (max-width: 950px) {
  .photosCollageContent {
    .photoItem {
      width: 32%;
    }
  }
}

@media screen and (max-width: 590px){
  .mainHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .leftSide {
     display: flex;
     justify-content: center;


      .description {
        margin-left: 20px;
        .headerDescription {
          h4 {
            font-size: 20px;
            font-weight: 700;
          }
          p {
            font-size: 14px;
            font-weight: 500;
          }
        }

        .lifeDescription {
          font-size: 12px;
          opacity: 0.8;
        }
      }
    }

    .rightSide {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .mediasubscriptions {
        width: 100%;
        display: flex;
        justify-content: center;
        b {
          font-size: 18px;
        }
        P {
          opacity: 0.8;
          font-size: 14px;
        }

        .followersBlock {
          margin-right: 70px;
        }
      }

      .navigation {
        display: flex;
        .editProf {
          background-color: #fff;
          margin-right: 20px;
          border-radius: 12px;
          color: #333;
          border: none;
          padding: 9px;
          cursor: pointer;
          font-weight: 600;
          font-size: 16px;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
  .photosCollageContent {
    .photoItem {
      width: 32%;
    }
  }
}
