.wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.container {
  width: 100%;
  width: 700px;
  height: 700px;
  border-radius: 12px;
  background-color: #f7f4f4;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 50px;
  margin: 0 25px;
  .dropzoneBox {
    display: flex;
    justify-content: center;
  }
  .body {
    width: 100%;
    font-size: 16px;
    text-align: center;
  }
  .descriptionBlock {
    margin-top: 30px;
    label {
      display: flex;
      justify-content: start;
      color: #808080;
      margin-bottom: 2px;
    }
    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #c9cad1;
      background: none;
      border-radius: 12px;
      padding: 14px;
      font-size: 16px;
      color: #808080;
      font-weight: 500;
      outline: none;
    }
  }
  .modalFooter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    .cancelBtn {
      width: 235px;
      height: 50px;
      border: 1px solid #c9cad1;
      border: none;
      background-color: #fff;
      color: #333;
      border-radius: 8px;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        background-color: #333;
        color: #fff;
        transition: 0.2s ease-in-out;
      }
    }
    .saveBtn {
      width: 235px;
      height: 50px;
      border: 1px solid #c9cad1;
      border: none;
      background-color: #0087ff;
      color: white;
      border-radius: 8px;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        background-color: #fff;
        color: #0087ff;
        transition: 0.2s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .wrapper {
    width: 100%;
    height: 100%;
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
  }
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    background-color: #f7f4f4;
    box-shadow: none;
    padding: 50px;
    margin: 0px;
    .dropzoneBox {
      display: flex;
      justify-content: center;
    }
    .body {
      width: 100%;
      font-size: 16px;
      text-align: center;
    }
    .descriptionBlock {
      margin-top: 30px;
      label {
        display: flex;
        justify-content: start;
        color: #808080;
        margin-bottom: 2px;
      }
      textarea {
        width: 100%;
        height: 100px;
        border: 1px solid #c9cad1;
        background: none;
        border-radius: 12px;
        padding: 14px;
        font-size: 16px;
        color: #808080;
        font-weight: 500;
        outline: none;
      }
    }
    .modalFooter {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      .cancelBtn {
        width: 235px;
        height: 50px;
        border: 1px solid #c9cad1;
        border: none;
        background-color: #fff;
        color: #333;
        border-radius: 8px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          background-color: #333;
          color: #fff;
          transition: 0.2s ease-in-out;
        }
      }
      .saveBtn {
        width: 235px;
        height: 50px;
        border: 1px solid #c9cad1;
        border: none;
        background-color: #0087ff;
        color: white;
        border-radius: 8px;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          background-color: #fff;
          color: #0087ff;
          transition: 0.2s ease-in-out;
        }
      }
    }
  }
}
