//Content
.wrapper {
  display: flex;
  justify-content: center;
  padding-top: 138px;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
}

.lefside {
  flex-basis: 50%;
  max-width: 560px;
}

.rightside {
  flex-basis: 50%;
  max-width: 305px;
}

@media screen and (max-width: 1024px) {
  .rightside {
    display: none;
  }
  .content {
    justify-content: center;
  }
  .lefside {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .rightside {
    display: none;
  }
  .content {
    justify-content: center;
  }
  .lefside {
    //width: 100%;
  }
}
