//Content
.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;

  position: relative;
  overflow: hidden;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
}

.lefside {
  flex-basis: 50%;
  max-width: 560px;
}

.rightside {
  flex-basis: 50%;
  max-width: 305px;
}
